## 2. 체중 감량 내기

In [35]:
import pandas as pd
import numpy as np

In [52]:
weight_loss = pd.read_csv('data/weight_loss.csv')
weight_loss.query("Month == 'Jan'")

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [37]:
weight_loss = pd.read_csv('data/weight_loss.csv')
weight_loss.query("Month == 'Jan'")
#month에서 jan만 꺼내서 보여줘(query)

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283
5  Amy   Jan  Week 3     189
6  Bob   Jan  Week 4     283
7  Amy   Jan  Week 4     190

In [38]:
def find_perc_loss(s):
    return (s - s.ilc[0]) / s.iloc[0]
# 무게감량 구하기
# (현재무게 - 처음무게)/처음무게
#def 을 할떄에는 반드시 : 을 사용해야한다!

In [39]:
bob_jan = weight_loss.query("Name=='Bob' and Month=='Jan'")
bob_jan.head()
#query의 사용방법을 잘 챙겨보자!

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
2  Bob   Jan  Week 2     288
4  Bob   Jan  Week 3     283
6  Bob   Jan  Week 4     283

In [59]:
bob_jan['Weight'].iloc[0]

291

In [62]:
#밥이 처음에 잿던 무게와 지금 쟨 무게를 같이 알아보자
# 같은 열에 있는데 어떻게 알수 있는거지..?
# 맨위에있는 걸 기준으로 아래로 내려가면서 마이너스를 한다.
(bob_jan['Weight'] - bob_jan['Weight'].iloc[0])/bob_jan['Weight'].iloc[0]

0    0.000000
2   -0.010309
4   -0.027491
6   -0.027491
Name: Weight, dtype: float64

In [68]:
find_perc_loss(bob_jan['Weight'])

AttributeError: 'Series' object has no attribute 'ilc'

In [47]:
weight_loss.head()

  Name Month    Week  Weight
0  Bob   Jan  Week 1     291
1  Amy   Jan  Week 1     197
2  Bob   Jan  Week 2     288
3  Amy   Jan  Week 2     189
4  Bob   Jan  Week 3     283

In [58]:
pcnt_loss = weight_loss.groupby(['Name','Month'])['Weight'].transform(find_perc_loss)
pcnt_loss.head()

AttributeError: 'Series' object has no attribute 'ilc'

In [48]:
weight_loss.query("Name=='Bob' and Month in ['Jan','Feb']")

   Name Month    Week  Weight
0   Bob   Jan  Week 1     291
2   Bob   Jan  Week 2     288
4   Bob   Jan  Week 3     283
6   Bob   Jan  Week 4     283
8   Bob   Feb  Week 1     283
10  Bob   Feb  Week 2     275
12  Bob   Feb  Week 3     268
14  Bob   Feb  Week 4     268

In [49]:
week4 = weight_loss.query('Week == "Week 4"')
week4

   Name Month    Week  Weight
6   Bob   Jan  Week 4     283
7   Amy   Jan  Week 4     190
14  Bob   Feb  Week 4     268
15  Amy   Feb  Week 4     173
22  Bob   Mar  Week 4     261
23  Amy   Mar  Week 4     170
30  Bob   Apr  Week 4     250
31  Amy   Apr  Week 4     161

In [67]:
x = np.array([5,4,3,2,1,0])
np.where(x >= 3, 3, x)
#3보다 크면 3으로 표시하고 아니면 그대로 표시

array([3, 3, 3, 2, 1, 0])

지금 하는건 배운것들의 문제풀이과정's

하지만 난 일도 못함,ㅋ

## 평균 SAT점수 계산

In [ ]:
# 결측치 제거시 Dropna사용
그냥 사용하는 것이 아니라(subset)을 사용한다.
subset을 정의한 후 사용한다.

In [72]:
def weight_math_average(df):
    weight_math = df['UGDS'] * df['SATMTMID']
    return int (weight_math.sum()/ df['UGDS'].sum())

# 객체 합치기

## 1. concat

### 1.1 Multiple Data Loading

In [79]:
df1 = pd.read_csv('data/stocks_2016.csv')
df1

  Symbol  Shares  Low  High
0   AAPL      80   95   110
1   TSLA      50   80   130
2    WMT      40   55    70

In [81]:
df2 =  pd.read_csv('data/stocks_2017.csv')
df2

  Symbol  Shares  Low  High
0   AAPL      50  120   140
1     GE     100   30    40
2    IBM      87   75    95
3    SLB      20   55    85
4    TXN     500   15    23
5   TSLA     100  100   300

In [82]:
df3 = pd.read_csv('data/stocks_2018.csv')
df3

  Symbol  Shares  Low  High
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

In [83]:
years = 2016,2017,2018
type(years)
#타입을 굳이 왜 지정해?
#

tuple

In [87]:
stock_tables = [pd.read_csv('data/stocks_{}.csv'.format(year),index_col='Symbol') for year in years]
stock_tables

[        Shares  Low  High
 Symbol
 AAPL        80   95   110
 TSLA        50   80   130
 WMT         40   55    70,         Shares  Low  High
 Symbol
 AAPL        50  120   140
 GE         100   30    40
 IBM         87   75    95
 SLB         20   55    85
 TXN        500   15    23
 TSLA       100  100   300,         Shares  Low  High
 Symbol
 AAPL        40  135   170
 AMZN         8  900  1125
 TSLA        50  220   400]

In [94]:
names = ['prices','transactions']
food_tables = [pd.read_csv('data/food_{}.csv'.format(name))for name in names]
food_prices, food_tr = food_tables

In [95]:
food_tr.merge(food_prices, on =['item','store'])

   custid    item store  quantity  price  Date
0       1    pear     A         5   0.99  2017
1       1  banana     A        10   0.39  2017
2       2   steak     B         3   6.99  2017
3       2   steak     B         3   4.99  2015
4       2   steak     B         1   6.99  2017
5       2   steak     B         1   4.99  2015
6       2    pear     B         1   1.99  2017
7       2   peach     B         2   3.49  2017