# 데이터 전처리 예제 1

* **데이터 설명**
  * 본 데이터는 A대학 도서관에서 제공하는 온라인 DB에 대한 사용자별 이용기록(Transaction)입니다.
  * user_id : 사용자ID
  * region : 지역코드
  * college : 단과대학코드
  * major : 전공코드
  * social_position : 직급코드
  * month : 이용월
  * weekday : 이용요일(1:일요일, 2:월요일, 3:화요일, 4:수요일, 5:목요일, 6:금요일, 7:토요일)
  * hour : 이용시각(24H)
  * DB : 이용 온라인 DB

### 0.0. 필요한 패키지를 로딩하세요

In [1]:
import pandas as pd
import numpy as np

## 1. 데이터 로딩 및 문제 파악하기

### 1.1. 데이터를 로딩하고 처음 5개의 레코드를 출력하세요.

data_01 = pd.read_csv('DATA_01.csv')

### 1.2. 변수별 데이터 타입을 알아볼 수는 코드를 제시하고 문제점이 있을 경우 서술하세요.

In [1]:
data_01 = pd.read_csv('DATA_01.csv')

NameError: name 'pd' is not defined

### 1.3. 수치형 변수의 요약 통계량을 제시하세요.

In [ ]:
# describe() 활용

### 1.4. 범주형 변수의 요약 통계량을 제시하세요.

## 2. 데이터의 문제 수정하기

### 2.1. NULL값이 존재하는 변수 중 범주형 변수의 NULL값을 'UNKNOWN'으로 대체하고 처리 결과를 제시하세요.

### 2.2. NULL값이 존재하는 변수 중 수치형 변수의 NULL값은 제거하고 처리 뒤 데이터의 행과 열을 제시하세요.

## 3. 데이터 파악하기

### 3.1. 전공 중 가장 많은 전공 코드를 제시하세요.

### 3.2. 지역이 R02이면서 전공이 M01 이고 오전9시부터 10시까지 사용한 사람은 몇 명인지 제시하세요.

### 3.2 에서 구한 내용에서 컬럼명이 user_id, region, major, hour의 리스트를 보여주세요

### 3.2 에서 구한 내용에서 컬럼수를 처음부터 6개만 보여주세요.

### 3.3. 월요일(2)에 가장 빠른 시간에 이용한 기록을 5개 제시하세요.