In [1]:
import pandas as pd
import copy
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('train.csv', encoding='CP949')
data.head()
#한글판 윈도우 메모장에서 저장할 때 ANSI로 했다면 CP949로 저장된다 함

,custid,gender,총구매액,구매건수,평균구매가격,평균할부개월수,구매브랜드종류,내점일수,수입상품_구매비율,주말방문비율,가을_구매건수,겨울_구매건수,봄_구매건수,여름_구매건수,아침_구매건수,저녁_구매건수,점심_구매건수,주구매코너
0,18,0,680100,15,45340,1.7,9,10,26.7,100.0,NaN,9.0,6.0,NaN,NaN,6.0,9.0,화장품
1,21,0,353450,9,39272,1.2,6,8,11.1,37.5,NaN,5.0,4.0,NaN,3.0,NaN,6.0,영캐주얼
2,23,0,5671400,36,157539,2.8,22,16,5.6,37.5,7.0,17.0,12.0,NaN,10.0,11.0,15.0,장신구
3,26,0,1964000,28,70143,1.4,15,14,39.3,28.6,5.0,8.0,15.0,NaN,NaN,18.0,10.0,화장품
4,35,0,885000,5,177000,6.0,5,2,0.0,100.0,NaN,NaN,5.0,NaN,NaN,5.0,NaN,피혁A

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
custid       5000 non-null int64
gender       5000 non-null int64
총구매액         5000 non-null int64
구매건수         5000 non-null int64
평균구매가격       5000 non-null int64
평균할부개월수      5000 non-null float64
구매브랜드종류      5000 non-null int64
내점일수         5000 non-null int64
수입상품_구매비율    5000 non-null float64
주말방문비율       5000 non-null float64
가을_구매건수      4055 non-null float64
겨울_구매건수      4103 non-null float64
봄_구매건수       4311 non-null float64
여름_구매건수      3978 non-null float64
아침_구매건수      3558 non-null float64
저녁_구매건수      4033 non-null float64
점심_구매건수      4855 non-null float64
주구매코너        5000 non-null object
dtypes: float64(10), int64(7), object(1)
memory usage: 703.2+ KB

In [4]:
dataP=data.copy() 
# 원본데이터의 회손을 막기위해 데이터를 다른 변수로 지정한후 복사한다.

In [5]:
obj=['주구매코너']  
# obj라는 변수에 columns를 넣는다.

In [6]:
dataP[obj].head()

  주구매코너
0   화장품
1  영캐주얼
2   장신구
3   화장품
4   피혁A

In [7]:
dataP[obj] = dataP[obj].apply(lambda x: x.astype('category').cat.codes) 
# cat.code : 문자가 범주형으로 바뀌면 생기는 코드
# apply : 각각의 값별로 함수를 적용
#  범주 형 열을 숫자 코드로 변환을 더 쉽게할수 있는 코드 = cat.codes

In [9]:
dataP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
custid       5000 non-null int64
gender       5000 non-null int64
총구매액         5000 non-null int64
구매건수         5000 non-null int64
평균구매가격       5000 non-null int64
평균할부개월수      5000 non-null float64
구매브랜드종류      5000 non-null int64
내점일수         5000 non-null int64
수입상품_구매비율    5000 non-null float64
주말방문비율       5000 non-null float64
가을_구매건수      4055 non-null float64
겨울_구매건수      4103 non-null float64
봄_구매건수       4311 non-null float64
여름_구매건수      3978 non-null float64
아침_구매건수      3558 non-null float64
저녁_구매건수      4033 non-null float64
점심_구매건수      4855 non-null float64
주구매코너        5000 non-null int8
dtypes: float64(10), int64(7), int8(1)
memory usage: 669.0 KB

- dtypes: float64(10), int64(7), object(1)  - 수치형 바꾸기전

- dtypes: float64(10), int64(7), int8(1)    - 수치형으로 바꾼 후

In [10]:
dataP[obj].head() 
# 이거는 왜 구하는거지..?

   주구매코너
0     24
1     11
2     15
3     24
4     22

In [11]:
dataP.isnull().sum()
# null값을 찾아보고 어떤 action을 취할지 생각해 보자

custid          0
gender          0
총구매액            0
구매건수            0
평균구매가격          0
평균할부개월수         0
구매브랜드종류         0
내점일수            0
수입상품_구매비율       0
주말방문비율          0
가을_구매건수       945
겨울_구매건수       897
봄_구매건수        689
여름_구매건수      1022
아침_구매건수      1442
저녁_구매건수       967
점심_구매건수       145
주구매코너           0
dtype: int64

데이터의 전체 갯수는 5000개이고 null값을 제거시 데이터의 갯수가 많이 줄어든다,
그래서 null값을 가지고 있는 아이들을 다른값으로 대체한다,

In [12]:
dataP.shape
# 데이터를 얼마나 가지고 있는지 알아본다.

(5000, 18)

In [25]:
dataP_drop = dataP.dropna(subset=['가을_구매건수',
                                  '겨울_구매건수',
                                  '봄_구매건수',
                                  '여름_구매건수',
                                  '아침_구매건수',
                                  '저녁_구매건수',
                                  '점심_구매건수' ])

In [26]:
dataP_drop.shape
# 데이터를 제거 후 가지고 있는 데이터의 양을 알아본다

(5000, 18)

In [27]:
dataP_drop.isnull().sum()
# null값을 제거 후 null값을 다시 확인해봄

custid       0
gender       0
총구매액         0
구매건수         0
평균구매가격       0
평균할부개월수      0
구매브랜드종류      0
내점일수         0
수입상품_구매비율    0
주말방문비율       0
가을_구매건수      0
겨울_구매건수      0
봄_구매건수       0
여름_구매건수      0
아침_구매건수      0
저녁_구매건수      0
점심_구매건수      0
주구매코너        0
dtype: int64

In [28]:
con = ['가을_구매건수',
       '겨울_구매건수',
       '봄_구매건수',
       '여름_구매건수',
       '아침_구매건수',
       '저녁_구매건수',
       '점심_구매건수' ]

con이라는 변수를 생성후 아까지웠던 columns의 이름만 채워준다.

<div class="alert alert-block alert-warning">
- strategy="mean": 평균 대체

- strategy="median": 중위수 대체
- strategy="most_frequent":최빈값 대체

In [29]:
from sklearn.preprocessing import Imputer
imputer_con = Imputer(strategy="most_frequent")  # 최빈값 대체
# 최빈값 - 두 번 이상 발생하는 자료값 중에서 가장 많은 도수(각 범주에 관찰된 수)를 가지는 자료값.
imputer_con.fit(dataP[con])

C:\Users\1pc\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='most_frequent',
    verbose=0)

1. 결측값대체하는 함수 from sklearn.preprocessing import Imputer
 - [결측값대체하는 함수](https://teddylee777.github.io/machine-learning/sklearn%EC%99%80-pandas%EB%A5%BC-%ED%99%9C%EC%9A%A9%ED%95%9C-%EA%B0%84%EB%8B%A8-%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D)

In [30]:
x = imputer_con.transform(dataP[con]); x

array([[ 1.,  9.,  6., ...,  1.,  6.,  9.],
       [ 1.,  5.,  4., ...,  3.,  1.,  6.],
       [ 7., 17., 12., ..., 10., 11., 15.],
       ...,
       [12.,  6.,  6., ..., 16.,  1., 21.],
       [ 6.,  4.,  2., ...,  1.,  2., 11.],
       [ 6.,  5., 10., ...,  8.,  5., 19.]])

- transform()로 dataP[con]을 data.frame으로 전환하였다.
- & 안에 값을

In [31]:
dataP[con] = x
dataP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 18 columns):
custid       5000 non-null int64
gender       5000 non-null int64
총구매액         5000 non-null int64
구매건수         5000 non-null int64
평균구매가격       5000 non-null int64
평균할부개월수      5000 non-null float64
구매브랜드종류      5000 non-null int64
내점일수         5000 non-null int64
수입상품_구매비율    5000 non-null float64
주말방문비율       5000 non-null float64
가을_구매건수      5000 non-null float64
겨울_구매건수      5000 non-null float64
봄_구매건수       5000 non-null float64
여름_구매건수      5000 non-null float64
아침_구매건수      5000 non-null float64
저녁_구매건수      5000 non-null float64
점심_구매건수      5000 non-null float64
주구매코너        5000 non-null int8
dtypes: float64(10), int64(7), int8(1)
memory usage: 669.0 KB

In [33]:
dataP.isnull().sum() #남은 결측치가 있는지 확인한다

custid       0
gender       0
총구매액         0
구매건수         0
평균구매가격       0
평균할부개월수      0
구매브랜드종류      0
내점일수         0
수입상품_구매비율    0
주말방문비율       0
가을_구매건수      0
겨울_구매건수      0
봄_구매건수       0
여름_구매건수      0
아침_구매건수      0
저녁_구매건수      0
점심_구매건수      0
주구매코너        0
dtype: int64

In [34]:
dataP.shape #결측치가 채워졌는지 확인한다

(5000, 18)

In [35]:
dfX = dataP.drop(['custid','gender'], axis=1)

In [36]:
dfy = dataP['gender']

딥러닝 모델의 교차검증

sklearn = 사이킷런이라고 불림

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

#model = KNeighborsClassifier()
model = LogisticRegression()
#model = DecisionTreeClassifier()

로지스틱 회귀 
모델객체를 만드는 함수
의사결정나무

In [39]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold

머신러닝을 위한 , 분석을 위한 알고리즘 불러오기

In [40]:
scores = cross_val_score(model, dfX, dfy); scores

C:\Users\1pc\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
C:\Users\1pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\1pc\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([0.69706059, 0.69586083, 0.69507803])

In [41]:
print("Mean: {:.3f}\nStd: {:.3f}\nMin: {:.3f}\nMax: {:.3f}".format(
    scores.mean(), scores.std(), scores.min(), scores.max()))
# 분산이 작으면 Overfitting 이 적다

Mean: 0.696
Std: 0.001
Min: 0.695
Max: 0.697

### 남녀 비율 조정

In [42]:
dataP['gender'].value_counts()

0    3479
1    1521
Name: gender, dtype: int64

smote + tomek =smotetomek
분류 모형에 따라 데이터에서 
가장 가까운 k개의 소수 클래스 데이터 중 
무작위로 선택된 데이터 사이의 직선상에 분류 모형에 따라 분류함

### 직접 분석 한 데이터, ch16활용

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC 
from sklearn.neural_network import MLPClassifier

In [60]:
dfX = dataP.drop(['custid','gender'], axis=1)  
dfy = dataP['gender']              
X_train, X_test, y_train, y_test = train_test_split(dfX,dfy, test_size=0.25, random_state=0)

dfx = dataP안에 있는 custid와 gender를 뺏다.

<br>dfy = dataP 안에 gender를 넣었다

df를 만들고 그안에서 트레이닝데이터와 테스트 데이터를 나눈다.

In [68]:
tree = DecisionTreeClassifier(max_depth=6, random_state=0)
tree.fit(X_train, y_train)
display(tree.score(X_test, y_test))

0.6696

- 모델을 생성한다, = fit

test 모델을 평가 = score ->
-> score = 정확히 분류된 샘플의 비율을 계산하는 방법
안정적인 일반화를 위해 -> 교차 검증(cross validation)

In [59]:
svm = SVC(random_state=0)
svm.fit(X_train, y_train)
display(svm.score(X_test, y_test))

C:\Users\1pc\Anaconda3\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.7064

In [92]:
dataP.sort_values(by="gender",
                   ascending=False).to_csv("f.csv", index=False)

예측한 데이터 안에 gender를 넣었다.
맞는지는 몰겠다...
예측의 결과값은 높아졌다.

dataP.sort_values 만든 데이터를 뽑아내는 함수