# Pandas Basics

## 1. 데이터 프레임의 이해

In [1]:
import pandas as pd

In [3]:
movie = pd.read_csv('movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
index = movie.index
index

RangeIndex(start=0, stop=4916, step=1)

In [5]:
columns = movie.columns
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
data = movie.values
type(data)

numpy.ndarray

In [7]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915], dtype=int64)

In [8]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [9]:
movie.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [10]:
movie.get_dtype_counts()

float64    13
int64       3
object     12
dtype: int64


## 2. Series


### 2.1. Series 생성

In [ ]:
movie['director_name']

### 2.2. Series 메서드

In [ ]:
# Series 메서드
"""
head() : 데이터일부를표시
value_counts() : 고유값의빈도수계산(Series만지원) / normalize=True로설정하면상대빈도
size, shape, len(x) : 원소개수계산
count():결측치를제외한개수
min(), max(), mean(), median(), std(), sum()
describe() : 요약통계량제공(개수, 평균, 표준편차, 최소값, 4분위수, 최대값)
quantile() : 정확한분위수계산
isnull():결측치체크<-> notnull()
fillna() : 결측치를한번에특정값으로변환
dropna() : 결측치제거
hasnans: 하나라도결측치가있으면True (Series만지원)
astype() : 데이터형식변경(결측치가있는경우오류)
"""

In [11]:
director = movie['director_name']
director.head()

0        James Cameron
1       Gore Verbinski
2           Sam Mendes
3    Christopher Nolan
4          Doug Walker
Name: director_name, dtype: object

In [12]:
score = movie['imdb_score']
score.head()

0    7.9
1    7.1
2    6.8
3    8.5
4    7.1
Name: imdb_score, dtype: float64

In [13]:
# 가장 유용한 메서드, 
director.value_counts()

Steven Spielberg            26
Woody Allen                 22
Clint Eastwood              20
Martin Scorsese             20
Ridley Scott                16
Spike Lee                   16
Steven Soderbergh           15
Renny Harlin                15
Tim Burton                  14
Oliver Stone                14
Robert Zemeckis             13
Joel Schumacher             13
Robert Rodriguez            13
Barry Levinson              13
Ron Howard                  13
Brian De Palma              12
Michael Bay                 12
Tony Scott                  12
Kevin Smith                 12
Rob Reiner                  11
Richard Donner              11
Francis Ford Coppola        11
Richard Linklater           11
Sam Raimi                   11
Shawn Levy                  11
Chris Columbus              11
Bobby Farrelly              10
John Carpenter              10
John McTiernan              10
David Fincher               10
                            ..
Melville Shavelson           1
Rachel Perkins               1
Vondie Curtis-Hall           1
Benson Lee                   1
Nate Parker                  1
Christopher Scott Cherot     1
Rafa Lara                    1
Michel Leclerc               1
Dominique Othenin-Girard     1
D.W. Griffith                1
Aaron Hann                   1
Deon Taylor                  1
Eric Eason                   1
Peter Sohn                   1
Bill Duke                    1
Ash Brannon                  1
Liliana Cavani               1
Yorgos Lanthimos             1
Maria Maggenti               1
Daniel Sackheim              1
Harry Beaumont               1
Gérard Krawczyk              1
John McNaughton              1
Scott Foley                  1
Josh Schwartz                1
Robert D. Webb               1
Mona Fastvold                1
Gabor Csupo                  1
RZA                          1
Eric Mendelsohn              1
Name: director_name, Length: 2397, dtype: int64

In [14]:
# normalize=True 모든 값을 값의 합으로 나누어 상대 빈도를 반환
director.value_counts(normalize=True)

Steven Spielberg            0.005401
Woody Allen                 0.004570
Clint Eastwood              0.004155
Martin Scorsese             0.004155
Ridley Scott                0.003324
Spike Lee                   0.003324
Steven Soderbergh           0.003116
Renny Harlin                0.003116
Tim Burton                  0.002908
Oliver Stone                0.002908
Robert Zemeckis             0.002700
Joel Schumacher             0.002700
Robert Rodriguez            0.002700
Barry Levinson              0.002700
Ron Howard                  0.002700
Brian De Palma              0.002493
Michael Bay                 0.002493
Tony Scott                  0.002493
Kevin Smith                 0.002493
Rob Reiner                  0.002285
Richard Donner              0.002285
Francis Ford Coppola        0.002285
Richard Linklater           0.002285
Sam Raimi                   0.002285
Shawn Levy                  0.002285
Chris Columbus              0.002285
Bobby Farrelly              0.002077
John Carpenter              0.002077
John McTiernan              0.002077
David Fincher               0.002077
                              ...
Melville Shavelson          0.000208
Rachel Perkins              0.000208
Vondie Curtis-Hall          0.000208
Benson Lee                  0.000208
Nate Parker                 0.000208
Christopher Scott Cherot    0.000208
Rafa Lara                   0.000208
Michel Leclerc              0.000208
Dominique Othenin-Girard    0.000208
D.W. Griffith               0.000208
Aaron Hann                  0.000208
Deon Taylor                 0.000208
Eric Eason                  0.000208
Peter Sohn                  0.000208
Bill Duke                   0.000208
Ash Brannon                 0.000208
Liliana Cavani              0.000208
Yorgos Lanthimos            0.000208
Maria Maggenti              0.000208
Daniel Sackheim             0.000208
Harry Beaumont              0.000208
Gérard Krawczyk             0.000208
John McNaughton             0.000208
Scott Foley                 0.000208
Josh Schwartz               0.000208
Robert D. Webb              0.000208
Mona Fastvold               0.000208
Gabor Csupo                 0.000208
RZA                         0.000208
Eric Mendelsohn             0.000208
Name: director_name, Length: 2397, dtype: float64

In [ ]:
director.size

In [ ]:
director.shape

In [ ]:
len(director)

In [ ]:
director.count()

In [ ]:
score.describe()

In [ ]:
# 분위수
score.quantile(0.2)

In [ ]:
s = pd.Series([1, 2, 3, 4])
s.quantile(.5)

In [ ]:
s.quantile([.25, .5, .75])

In [ ]:
director.isnull()

In [ ]:
director.isnull().sum()

In [15]:
director_fill = director.fillna('Unknown')
print(director.count(), director_fill.count())

4814 4916

In [ ]:
director_drop = director.dropna()
print(director.size, director_drop.size)

In [16]:
director.hasnans # Nan 파악

True

In [17]:
score.astype(int)

0       7
1       7
2       6
3       8
4       7
5       6
6       6
7       7
8       7
9       7
10      6
11      6
12      6
13      7
14      6
15      7
16      6
17      8
18      6
19      6
20      7
21      7
22      6
23      7
24      6
25      7
26      7
27      8
28      5
29      7
       ..
4886    7
4887    6
4888    7
4889    4
4890    3
4891    6
4892    4
4893    3
4894    6
4895    7
4896    6
4897    4
4898    6
4899    6
4900    7
4901    6
4902    7
4903    6
4904    5
4905    6
4906    7
4907    6
4908    6
4909    7
4910    6
4911    7
4912    7
4913    6
4914    6
4915    6
Name: imdb_score, Length: 4916, dtype: int32

### 2.3. 메서드 체인

In [18]:
director.value_counts().head()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        16
Name: director_name, dtype: int64

In [19]:
score.fillna(0).astype(int).head()

0    7
1    7
2    6
3    8
4    7
Name: imdb_score, dtype: int32

## 3. 열과 행 다루기

In [ ]:
# movie_title열을 인덱스로 설정할 수 있다. 이 때 기존 인덱스는 없어진다.
movie2 = movie.set_index('movie_title')
movie2

In [ ]:
movie2 = pd.read_csv('data/movie.csv', index_col='movie_title')
movie2.head()

In [ ]:
"""
reset_index 명령으로 인덱스를 보통의 자료열로 바꿀 수도 있다. 
이 때 인덱스 열은 자료열의 가장 선두로 삽입된다. 
데이터프레임의 인덱스는 정수로 된 디폴트 인덱스로 바뀐다.
"""
movie2 = movie2.reset_index()
movie2

In [ ]:
movie_rename = movie.rename(index={0:'아바타'}, columns={'color':'색깔','director_name':'감독이름'})
movie_rename

In [ ]:
# 컬럼을 리스트로 생성
col = movie.columns
col_list = col.tolist()
col_list

In [ ]:
col_list[0]='색깔'
col_list[1]='감독이름'
col_list

In [ ]:
movie.columns = col_list
movie.head()

In [ ]:
movie.drop(range(10), axis='index')

In [ ]:
movie.drop(['색깔','감독이름'], axis='columns')

In [ ]:
movie['has_seen'] = 0
movie

In [ ]:
# 컬럼위치
avg_index = movie.columns.get_loc('duration') + 1
avg_index

In [ ]:
"""
DataFrameName.insert (loc, column, value, allow_duplicates = False)
loc : loc은 새로운 열을 삽입하고자하는 열의 위치 인 정수. 
      해당 위치의 기존 열이 오른쪽으로 이동.
column : column은 삽입 할 열의 이름 인 문자열. 
value : 삽입 할 값
allow_duplicates :동일한 이름의 열이 존재하는지 여부 확인.
"""
movie.insert(loc=avg_index, column='평균리뷰수', value=movie['num_critic_for_reviews']/movie['duration'])
movie

In [ ]:
type(movie[['감독이름']])

## 1. DataFrame 열 선택

### 1.1. 리스트를 사용한 열 선택

In [ ]:
movie = pd.read_csv('data/movie.csv')
movie.head()

In [ ]:
movie_actor = movie[['actor_1_name','actor_2_name','actor_3_name']]
movie_actor.head()

In [ ]:
movie[['director_name']].head()

In [ ]:
cols = ['actor_1_name','actor_2_name','actor_3_name']
movie[cols].head()

### 1.2. 메서드를 사용한 열 선택

In [ ]:
movie.get_dtype_counts() # 각 특정 데이터 형식의 열 개수 출력

In [ ]:
movie.select_dtypes(include=['int64']).head() # 정수열 만 선택

In [ ]:
# 수치로 된 모든 열 선택
movie.select_dtypes(include=['number']).head()

In [ ]:
# 열 선택하는 또 다른 방법 filter
# facebook 이라는 문자열을 이름에 포함하고 있는 모든 열을 검색
movie.filter(like='facebook').head()

In [ ]:
# filter 메서드를 사용하면 regex 매개변수를 통해 정규식을 사용해
# 열을 검색가능, 여기서는 이름에 숫자가 포함되 있느 모든 열 검색
movie.filter(regex='\d').head()

## 2. 전체 DataFrame 연산

### 2.1. Series 속성과 메서드 사용

In [ ]:
# dataframe의 행(row)와 열(column) 개수를 가진 2개의 숫자를 
# tuple로 반환
movie.shape

In [ ]:
# dataframe의 전체원소 개수 반환
movie.size

In [ ]:
# 차원수 반환
movie.ndim

In [ ]:
# 행의 개수 반환
len(movie)

In [ ]:
# 각 열에 누락값을 제외한 개수
movie.count()

In [ ]:
movie.min() # max, mean, median, std

In [ ]:
# 앞단계에서 계산한 모든 기술 통계량과 분위수를 한꺼번에 계산
movie.describe()

### 2.2. 메서드 체인 사용

In [ ]:
movie.isnull().head()

In [ ]:
movie.isnull().sum()

In [ ]:
movie.isnull().sum().sum()

In [ ]:
movie.isnull().any().any()

In [ ]:
# 백슬래시(\) 줄바꿈을 하지 못하게 하는 방법으로 
# 한줄의 하나의 메서드만 나열, 가독성을 높이고 중간에 주석을 달 수 있다
movie.select_dtypes(['object'])\
    .fillna('')\
    .max()

In [ ]:
(movie.select_dtypes(include=['number'])+0.00001).head()

In [ ]:
(movie.select_dtypes(include=['number'])+0.00001).round(-2).head()

## 3. 대학 캠퍼스의 다양성 지수 발견

In [ ]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college_ug = college.filter(like='UGDS_')
college_ug.head()

In [ ]:
(college_ug.isnull().sum(axis=1)>0).sum()

In [ ]:
college_ug = college_ug.dropna(how='all')
college_ug.isnull().sum()

In [ ]:
diversity_metric = (college_ug>=0.15).sum(axis=1)
diversity_metric.head()

In [ ]:
diversity_metric.value_counts()

In [ ]:
diversity_metric.sort_values(ascending=False).head()